# App Config
PORT=3001

# Database Config
DATABASE_URL="mysql://username:password@localhost:3306/database"

# JSON Web Token
SECRET_KEY=rahasia

# Logger
# Transport value: console|file|both
LOGGER_TRANSPORT=console
# Logger value: error|warn|info|http|verbose|debug|silly
LOGGER_LEVEL=http
# File flag value: append|override
LOGGER_FILE_FLAG=override
LOGGER_DESTINATION=employee-service.log
LOGGER_SHOW_DATE=false
